
body{
  margin: 0;
  padding: 0;
  background-color: #090A0D;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* loading screens */

.loading{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: sans-serif Condensed;
  left: 0px;
  top: 0px;
  background-color: black;
  z-index: 110;
  display: block;
}

.game-over{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: black;
  z-index: 111;
  display: block;
}

.dizzy{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(img/dizzy.png);
  background-size: cover;
  z-index: 99;
  display: block;
}

.full-screen-needed{
  visibility: hidden;
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 650px;
  height: 50px;
  padding: 5px 10px;
  background: #1D1243;
  box-shadow: 0px -4px 30px #000000;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  transition: 0.9s linear;
}

.notification-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.notification-text{
  font-weight: lighter;
}

.bold-text{
  font-weight: bold;
}

.notification{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* landing game screen */

.landing-game{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: sans-serif Condensed;
  left: 0px;
  top: 0px;
  background-color: white;
  z-index: 110;
  display: block;
}

.fuel-landing{
  position: fixed;
  color: black;
  top: 32.5px;
  right: 30px;
  z-index: 120;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 650px;
  font-size: 16px;
  font-weight: bold;
}

.ship-landing{
  position: absolute;
  top: 3vh;
  left: 3vw;
  width: 25px;
  height: 25px;
  background-color: black;
}

.dock-landing{
  position: absolute;
  bottom: 0px;
  right: 5vw;
  width: 5vw;
  height: 10px;
  background-color: black;
}

.text-landing{
  font-weight: lighter;
  position: fixed;
  color: black;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 120;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 650px;
}
/* start screen */

.start-screen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(img/blurred-background.png);
  background-size: cover;
  z-index: 2;
}

.start-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.intro-container{
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  margin-right: 220px;
}

.intro-text{
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 140%;
}

.sound-on-caption{
  color: #F1F1F1;
  font-family: Saira;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.sound-on{
  color: #F1F1F1;
  font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
}

#sound-icon{
  align-self: center;
  margin-right: 10px;
  width: 25px;
  height: auto;
}

.sound-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

h1{
  font-family: Saira;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h2{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h3{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

body{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.start-button{
  display: flex;
  margin: auto;
  margin-top: 90px;
  justify-content: center;
  width: 244px;
  height: 67px;
  padding: 10px 40px;
  background: #FFFFFF;
  box-shadow: 0px -4px 30px #000000;
  border-radius: 1000px;
  cursor: pointer;
}

.start-button:hover{
  background: #CED6E1;
}

.start-button:active{
  background: #8999AE;
}

.button-text{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 47px;
  color: #16161B;
  margin: auto;
}

.skip-button{
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 102;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0px 20px;
  background: #FFFFFF;
  box-shadow: 0px -4px 30px #212938;
  border-radius: 1000px;
  cursor: pointer;
}

.skip-text{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 47px;
  color: #16161B;
  margin: auto;
}

.skip-button:hover{
  background: #CED6E1;
}

.skip-button:active{
  background: #8999AE;
}

.subtitles{
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 98;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 650px;
  height: 100px;
  padding: 20px 20px;
  background: #120834;
  box-shadow: 0px -4px 30px #000000;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
}

#mouse-text{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  z-index: 101;
  padding: 5px 15px;
  background: #1D1243;
  border-radius: 2000px;
}


/* ava bar */

.ava-bar{
  background-color: #090A0D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  align-items: center;
}

.ava-top{
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 165px;
  background: #2D3543;
  cursor: inherit;
}

.ava-branding{
  display: flex;
  flex-direction: row;
  margin: 6px;
  margin-bottom: auto;
  cursor: inherit;
}

.ava-text-background{
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 28px;
  height: 10px;
  background: #4B7D9B;
  cursor: inherit;
}

.ava-text{
  color: #FFFFFF;
  align-self: flex-end;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  line-height: 7px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: inherit;
}

.text-9000-background{
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 28px;
  height: 10px;
  background: #16161B;
  cursor: inherit;
}

.text-9000{
  color: #FFFFFF;
  align-self: flex-start;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  line-height: 7px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: inherit;
}

.ava-eye{
  margin-left: auto;
  margin-right: auto;
  cursor: inherit;
}

.ava-eye-black{
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background: #16161B;
  border: 2px solid #87837A;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: inherit;
}

.ava-click:hover{
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background-color: #72240B;
  cursor: inherit;
}

.ava-eye-dark-red{
  width: 34px;
  height: 34px;
  border-radius: 1000px;
  background: #9E1214;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: inherit;
}

.ava-eye-red-off{
  width: 34px;
  height: 34px;
  border-radius: 1000px;
  background: #9E1214;
  opacity: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: inherit;
}

.ava-eye-light-red{
  width: 22px;
  height: 22px;
  border-radius: 1000px;
  background: #C83232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: inherit;
}

.ava-eye-yellow{
  width: 4px;
  height: 4px;
  border-radius: 1000px;
  background: #F8B932;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: inherit;
}

.ava-bottom{
  width: 75px;
  height: 40px;
  background: #6C6C6F;
  cursor: inherit;
}

.ava-on{
  width: 75px;
  height: 205px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.ava-off{
  width: 75px;
  height: 205px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: default;
}

.ava-screen{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: 8px solid #2D3543;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 16px;
}

.small-screen-title{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.small-screen-text{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  line-height: 100%;
  margin-bottom: 10px;
}

#o2-level{
  background: #6E5490;
}

#o2-error{
  background: #9E1214;
}

#o2-off{
  background: #AF5D21;
}

#o2-low{
  background: #9E1214;
}

#o2-low-but-on{
  background: #AF5D21;
}

#o2-level:hover{
  background: #8266A6;
}

#o2-error:hover{
  background: #C62B2D;
}

#o2-off:hover{
  background: #BF6F42;
}

#o2-low:hover{
  background: #C62B2D;
}

#o2-low-but-on:hover{
  background: #BF6F42;
}

.bar{
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 21px;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}

.bar-filling{
  background-color: white;
  width: 55px;
  height: 15px;
  border-radius: 2px;
  margin-right: auto;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.fuel-bar-filling{
  background-color: white;
  width: 55px;
  height: 15px;
  border-radius: 2px;
  margin-right: auto;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#destination{
  background: #007194;
}

#destination:hover{
  background: #097EA3;
}

#left-cam{
  background-image: url(img/left-cam.svg);
  background-size: cover;
}

#front-cam{
  background-image: url(img/front-cam.svg);
  background-size: cover;
}

#back-cam{
  background-image: url(img/back-cam.svg);
  background-size: cover;
}

#right-cam{
  background-image: url(img/right-cam.svg);
  background-size: cover;
}

#left-cam:hover{
  background-image: url(img/left-cam-hover.svg);
}

#front-cam:hover{
  background-image: url(img/front-cam-hover.svg);
}

#back-cam:hover{
  background-image: url(img/back-cam-hover.svg);
}

#right-cam:hover{
  background-image: url(img/right-cam-hover.svg);
}

#speed{
  background: #004A95;
}

#speed:hover{
  background: #0C59A6;
}

.speed-graphs{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;
  width: 27px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}

.column-filling{
  background-color: white;
  width: 21px;
  height: 30px;
  border-radius: 2px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: auto;
  margin-bottom: 3px;
}

#left-engine{
  height: 2px;
}

#right-engine{
  height: 2px;
}

.fuel-level-background{
  background: #007EB9;
}

.fuel-level-background:hover{
  background: #108FCB;
}



/* computer */

.pc-bar{
  height: 100%;
  width: 100%;
  background: #2D3543;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 45px;
}

.pc{
  background: #AAAFB7;
  border-radius: 20px;
  width: 810px;
  height: 440px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.screen{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
}

#off-screen{
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

#locked-screen{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  flex-direction: row;
}

.welcome{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}


#info-screen{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  flex-direction: row;
}

.title-and-close{
  display: flex;
  flex-direction: row;
}

#close-button{
  align-self: center;
  margin-left: auto;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.info-list{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}

#confidential{
  color: red;
}

#coordinates-field{
  margin-top: -20px;
}

#coordinates1{
  margin-right: 10px;
  width: 120px;
}

#coordinates2{
  margin-right: 10px;
  width: 120px;
}

#coordinates3{
  width: 120px;
}

#coordinates1:hover{

  background-color: red;
}

#coordinates2:hover{

  background-color: orange;
}

#coordinates3:hover{
  background-color: green;
}

.info-subtitle{
  font-weight: normal;
}

#red-co:hover{
  color: red;
}

#green-co:hover{
  color: green;
}

#orange-co:hover{
  color: orange;
}

.coordinate-button{
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 16px 0;
  margin-left: 10px;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.coordinate-button:hover{
  background-color: #353639;
}

.screen-button-text{
  margin: auto;
}

#coordinate-error{
  margin-top: -15px;
  color: red;
  font-size: 15px;
}

#coordinate-ok{
  margin-top: -15px;
  color: white;
  font-size: 15px;
}

.screen-buttons{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.screen-widget{
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 100px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.screen-widget:hover{
  background-color: #353639;
}

#ship-info{
  margin-bottom: 0px;
}


.widget-text-container{
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 0px;
}

#autopilot-title-status{
  font-weight: 600;
}

#contact-earth-title{
  font-weight: 600;
}

#ship-info-title{
  font-weight: 600;
}

.radar{
  margin: auto;
  margin-left: 0px;
  width: 350px;
  height: 350px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

#p5-radar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.password-field{
  display: flex;
  flex-direction: column;
}

.enter-field{
  display: flex;
  flex-direction: row;
}

input {
  font-family: Saira Condensed;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 100.5%;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  background-color: #090A0D;
  width: 216px;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-text-security: disc;
}

.password-button{
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 16px 0;
  margin-left: 10px;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.password-button:hover{
  background-color: #353639;
}

#forgot{
  display: none;
  font-size: 16px;
}

.wrong-password{
  border: 2px solid red;
}

.control-bar{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 0px;
}

.button{
  display: flex;
  width: 86px;
  height: 35px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
  margin: 16px 0px;
  font-weight: normal;
  cursor: pointer;
  font-family: 'Squada One';
}

#pc-button{
  background: #5EF188;
  border: 2px solid #1FCE51;
}

#ava-button{
  background: #EA440F;
  border: 2px solid #CF3200;
}

#o2-button{
  background: #9FF4F6;
  border: 2px solid #64D4D7;
}

.pc-off{
  background: #0F7E2F !important;
}

.ava-off{
  background: #72240B !important;
}

.o2-off{
  background: #3A8A8C !important;
}

#pc-button:hover{
  background: #47DF72;
}

#ava-button:hover{
  background: #C94921;
}

#o2-button:hover{
  background: #84E7EA;
}

#pc-button:active{
  background: #1EAE48;
}

#ava-button:active{
  background: #8B3013;
}

#o2-button:active{
  background: #57B9BB;
}

.real-button-text{
  margin: auto;
}

.speaker{
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.speaker-hole{
  width: 6px;
  height: 32px;
  background: #090A0D;
  border-radius: 1000px;
  margin: 16px 4px;
}

/* backgrounds */

.ok-background{
  background: #0A7528;
}

.warning-background{
  background: #AF5D21;
}

.error-background{
  background: #9E1214;
}

.ok-background:hover{
  background: #34AC56;
}

.warning-background:hover{
  background: #BF6F42;
}

.error-background:hover{
  background: #C62B2D;
}

.pointer-text{
  cursor: pointer;
}

.default-text{
  cursor: default;
}

@media screen and (max-width: 1100px) and (min-width: 0px) {

  .full-screen-needed{
    visibility: visible;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 650px;
    height: 50px;
    padding: 5px 10px;
    background: #1D1243;
    box-shadow: 0px -4px 30px #000000;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    transition: 0.3s linear;
  }
}

@media screen and (max-height: 650px) and (min-height:0px) {

  .full-screen-needed{
    visibility: visible;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 650px;
    height: 50px;
    padding: 5px 10px;
    background: #1D1243;
    box-shadow: 0px -4px 30px #000000;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    transition: 0.3s linear;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  /* zoom out */
  body {
      -moz-transform: scale(0.85); /* Moz-browsers */
      zoom: 0.85; /* Other non-webkit browsers */
      zoom: 85%; /* Webkit browsers */
  }
}
