
body{
  margin: 0;
  padding: 0;
  background-color: #090A0D;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* start screen */

.start-screen{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 2;
}

.start-container{
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.sound-on{
  margin-left: auto;
  margin-right: auto;
  color: #F1F1F1;
  font-family: Saira;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
}

.sound-on-caption{
  margin-left: auto;
  margin-right: auto;
  color: #F1F1F1;
  font-family: Saira;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
}

h1{
  font-family: Saira;
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h2{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

h3{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

body{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130.5%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.start-button{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 244px;
  height: 67px;
  padding: 10px 60px;
  background: #FFFFFF;
  box-shadow: 0px -4px 30px #000000;
  border-radius: 1000px;
  cursor: pointer;
}

.button-text{
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 47px;
  color: #16161B;
  margin: auto;
}

#subtitles{

}

#mouse-text{
  position: absolute;
}


/* ava bar */

.ava-bar{
  background-color: #090A0D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.ava-on{
  width: 75px;
  height: 205px;
  background: #C83232;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.ava-off{
  width: 75px;
  height: 205px;
  background: #2D3543;
  margin-left: 16px;
  margin-right: 16px;
  cursor: default;
}

.ava-screen{
  width: 100px;
  height: 100px;
  border: 8px solid #2D3543;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
}

#o2-level{
  background: #6E5490;
}

#destination{
  background: #007194;
}

#left-cam{
  background: #000000;
}

#front-cam{
  background: #000000;
}

#back-cam{
  background: #000000;
}

#right-cam{
  background: #000000;
}

#speed{
  background: #004A95;
}

#fuel-level{
  background: #007EB9;
}



/* computer */

.pc-bar{
  height: 100%;
  width: 100%;
  background: #2D3543;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 48px;
}

.pc{
  background: #AAAFB7;
  border-radius: 20px;
  width: 810px;
  height: 440px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.screen{
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

#off-screen{
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

#locked-screen{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  flex-direction: row;
}

.welcome{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}


#info-screen{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 640px;
  height: 400px;
  background: #090A0D;
  border-radius: 10px;
  flex-direction: row;
}

.title-and-close{
  display: flex;
  flex-direction: row;
}

#close-button{
  align-self: center;
  margin-left: auto;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.info-list{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}

#confidential{
  color: red;
}

#coordinates-field{
  margin-top: -20px;
}

#coordinates1{
  margin-right: 10px;
  width: 120px;
}

#coordinates2{
  margin-right: 10px;
  width: 120px;
}

#coordinates3{
  width: 120px;
}

#coordinates1:hover{

  background-color: red;
}

#coordinates2:hover{

  background-color: orange;
}

#coordinates3:hover{
  background-color: green;
}

.info-subtitle{
  font-weight: normal;
}

#red-co:hover{
  color: red;
}

#green-co:hover{
  color: green;
}

#orange-co:hover{
  color: orange;
}

.coordinate-button{
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 16px 0;
  margin-left: 10px;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

#coordinate-error{
  margin-top: -15px;
  color: red;
  font-size: 15px;
}

#coordinate-ok{
  margin-top: -15px;
  color: white;
  font-size: 15px;
}

.screen-buttons{
  display: flex;
  flex-direction: column;
}

.screen-widget{
  margin: 12px;
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 100px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.radar{
  margin: 12px;
  width: 350px;
  height: 356px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}


.password-field{
  display: flex;
  flex-direction: column;
}

.enter-field{
  display: flex;
  flex-direction: row;
}

input {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100.5%;
  text-align: justify;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  background-color: #090A0D;
  width: 216px;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-text-security: disc;
}

.password-button{
  display: flex;
  justify-content: center;
  width: 60px;
  margin: 16px 0;
  margin-left: 10px;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

#forgot{
  display: none;
  font-size: 16px;
}

.wrong-password{
  border: 2px solid red;
}

.control-bar{
  display: flex;
  flex-direction: column;
}

.button{
  width: 86px;
  height: 35px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
  margin: 16px 0px;
  cursor: pointer;
}

#pc-button{
  background: #5EF188;
  border: 2px solid #1FCE51;
}

#ava-button{
  background: #EA440F;
  border: 2px solid #CF3200;
}

#o2-button{
  background: #9FF4F6;
  border: 2px solid #64D4D7;
}

.speaker{
  display: flex;
  flex-direction: row;
}

.speaker-hole{
  width: 6px;
  height: 32px;
  background: #090A0D;
  border-radius: 1000px;
  margin: 16px 4px;
}

/* backgrounds */

.ok-background{
  background: #0A7528;
}

.warning-background{
  background: #AF5D21;
}

.error-background{
  background: #9E1214;
}

@media screen and (max-width: 1300px) and (min-width: 0px) {

  /* full screen needed! */

}
